#get{
    margin-top: 70px;color: orangered;
    text-transform: capitalize;text-align: center;
    font-size: xx-large;font-style: oblique;font-weight: bold;
}
#touch{
    color: whitesmoke;
}
#want{margin-top: 18px;line-height: 34px;
    margin-left: 18px;color: whitesmoke;
}