#dinner{
    text-align: center;margin-top: 30px;
    color: whitesmoke;font-size: xx-large;
    font-weight: bold;text-transform: capitalize;font-style: oblique;
}
#family{
color: orangered;
}
#accidental{
    text-align: center;margin-top: 30px;
    color: white;font-size:x-large;
    font-weight: bold;text-transform: capitalize;font-style: italic;
}
#cheves{   text-align: center;margin-top: 30px;
    color: orangered;font-size:large;
    font-weight: bolder;text-transform: lowercase;font-style: italic;


}
#menudinner{ text-align: center;margin-top: 20px;
    color: white;font-size:xx-large;
    font-weight: bolder;text-transform: capitalize;font-style: oblique;

}

