 #talented{
 color: orangered;float: right;position: relative;bottom:190pt;right: 10px;
 font-size: larger;
font-weight: bold;text-transform: capitalize;
}
#customer{left: 300px;
  color: orangered;float: right;position: relative;bottom: 170px;right: 10px;
 font-size: larger;
font-weight: bold;text-transform: capitalize;
} 