#get{margin: 50px;text-decoration:underline;
    color: orangered;text-align: justify;text-transform: capitalize;
    font-size:xx-large;font-weight: bold;font-style: italic;text-align: left;
}
#want,#reach{margin: 30px;
    color: aliceblue;text-align: justify;text-transform: capitalize;
    font-size:xx-large;font-weight: lighter;font-style: oblique;text-align: left;
}